.video-container {
  height: 100vh;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  position: relative;
  top: 0px;
  background: #000;
  visibility: visible;
}

video {
  object-fit: cover;
  width: 100%;
  height: auto;
  top: 0px;
  position: absolute;
}

.video-container .main_banner_text {
  position: relative;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: .65px;
  text-shadow: 0 3px 6px rgba(0,0,0,.16078);
  top: 44%;
  text-align: center;
  font-weight: 400;
  color: #fff;
  opacity: 1;
}

@media (max-width: 500px){
  .video-container {
    height: 251px!important;
  }

    video {
      position: absolute!important;
      width: 100%!important;
      height: auto!important;
      top: 39px!important;
      left: 0!important;
  }

  .video-container .main_banner_text {
    line-height: 28px;
  }
}

@media (max-width: 1024px){
  .video-container .main_banner_text {
    font-size: 28px;
  }
}