.video-container {
  height: 100vh;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  position: relative;
  top: 0px;
}

video {
  object-fit: cover;
  width: 100%;
  top: 0px;
  position: absolute;
}

.video-container .main_banner_text {
  position: relative;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: .65px;
  text-shadow: 0 3px 6px rgba(0,0,0,.16078);
  top: 44%;
  text-align: center;
  font-weight: 400;
  color: #fff;
  opacity: 1;
}